.snackbar-success {
    background-color: rgba(76, 175, 80, 0.6);
    color: white;
  }
  
  .snackbar-error {
    background-color: rgba(244, 67, 54, 0.6); 
    color: white;
  }
  
  .snackbar-info {
    background-color: rgba(33, 150, 243, 0.6); 
    color: white;
  }
  